/*
 * Article components
 *
 * Example:
 *    .article
 *      .article__heading
 *      .article__lead
 *        P
 *      .article__body
 *        P
 */

.article { }

.article a:hover {
  color: var(--color-contrast);
}

/*
 * Heading
 */

.article__heading {
  font-weight: bold;
  font-size: var(--font-size--2xl);
  line-height: var(--line-height--2xl);
  margin-top: var(--padding-vertical);
  margin-bottom: var(--padding-vertical);
}

@media (--viewport-s-min) {
  .article__heading {
    font-size: var(--font-size--3xl);
    line-height: var(--line-height--3xl);
    margin-top: var(--padding-vertical--xl);
  }
}

/*
 * Media
 */

.article__media {
  margin: var(--padding-vertical--l) calc(var(--grid-gutter) * -.5) var(--padding-vertical--l) calc((var(--grid-gutter) * -.5) - var(--body-border-width));
}
.article__media .media {
  padding-right: 0;
  padding-left: 0;
}

@media (--viewport-s-min) {
  .article__media {
    margin-right: 0;
    margin-left: 0;
  }
  .article__media .media {
    padding-right: 2px;
    padding-left: 2px;
  }
}

/*
 * Meta
 */

.article__meta {
  font-weight: bold;
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  margin-top: var(--padding-vertical--l);
  margin-bottom: var(--padding-vertical--l);
}

@media (--viewport-s-min) {
  .article__meta {
    margin-bottom: var(--padding-vertical--xl);
  }
}

.grid__hidari .article__meta {
  color: var(--color-gray-4);
}

.grid__migi .article__meta {
  color: var(--color-gray-3);
}

.article__meta > * {
  display: inline-block;
  margin-right: .75em;
}

.article__meta a {
  @mixin magic-underline var(--color-gray-4) {}
}

.article__meta a:hover,
.article__meta a:focus {
  @mixin magic-underline var(--color-contrast) {}
}

/* Inline variation */
.article__meta.article__meta--inline {
  vertical-align: bottom;
  float: left;
  margin-bottom: 0;
}

/*
 * Topic
 */

.article__topic {
  background-color: var(--color-highlight);
  color: color(black a(60%));
  border-radius: var(--border-radius);
  margin-top: -2px;
  padding-top: 2px;
  padding-right: var(--padding-horizontal);
  padding-left: var(--padding-horizontal);
}

/*
 * Byline
 */

.article__byline {
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  margin-top: var(--padding-vertical--s);
  margin-bottom: var(--padding-vertical--s);

  @mixin clearfix {}
}

.article__byline-photo {
  width: 70px;
  max-width: 70px; /* ~width of topic-label */
  float: left;
  margin-right: var(--padding-horizontal);
}

@media (--viewport-s-min) {
  .article__byline {
    border-left: 1px solid var(--color-gray-5);
    float: right;
    width: 170px;
    margin-left: var(--padding-horizontal--l);
    padding-left: var(--padding-horizontal);
  }
  .article__byline-photo {
    width: 100%;
    max-width: 100%;
    float: none;
    margin-right: 0;
  }
}

@media (--viewport-m-min) {
  .article__byline {
    margin-right: -202px;
  }
}

.article__byline-photo,
.article__byline-author,
.article__byline-email,
.article__byline-weblink {
  display: block;
}

.article__byline-photo {
  border-radius: var(--border-radius--s);
  margin-bottom: calc(var(--line-height--m) * var(--font-size--m) / 2);
}

.article__byline-author {
  font-weight: bold;
}


/*
 * Lead
 */

@media (--viewport-s-min) {
  .article__lead {
    margin-bottom: var(--padding-vertical--l);
  }
}

.article__lead p {
  font-family: var(--font-serif);
  font-size: var(--font-size--p);
  line-height: var(--line-height--p);
  font-weight: bold;
  letter-spacing: -.02em;
  margin-bottom: var(--padding-vertical);
}


/*
 * Body
 */

.article__body {
  font-family: var(--font-serif);
  font-size: var(--font-size--p);
  line-height: var(--line-height--p);
}

.article__body p {
  margin-bottom: var(--padding-vertical);
}

.article__body h2 {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
  margin-top: var(--padding-vertical--l);
  margin-bottom: var(--padding-vertical);
}

.article__body h3 {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
  margin-top: var(--padding-vertical--l);
  margin-bottom: var(--padding-vertical--xs);
}

.article__body h4,
.article__body h5,
.article__body h6 {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  margin-top: var(--padding-vertical);
  margin-bottom: 0;
}

.article__body a {
  @mixin magic-underline {};
}

.article__body a:hover {
  color: var(--color-contrast);
  @mixin magic-underline var(--color-contrast) {}
}
