/*
 * Article components
 *
 * Example:
 *    .article
 *      .article__heading
 *      .article__lead
 *        P
 *      .article__body
 *        P
 */

.article {

}

.article a:hover {
  color: var(--color-hover);
}

/*
 * Heading
 */

.article__heading {
  font-family: var(--font-h);
  font-size: var(--font-size--2xl);
  line-height: var(--line-height--2xl);
  margin-top: calc(var(--line-height--2xl) * var(--font-size--2xl));
  margin-bottom: calc(var(--line-height--2xl) * var(--font-size--2xl) / 2);
}

.article__heading--s {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
  margin-top: calc(var(--line-height--xl) * var(--font-size--xl));
  margin-bottom: calc(var(--line-height--xl) * var(--font-size--xl) / 2);
}

.article__heading--xs {
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
  margin-top: calc(var(--line-height--l) * var(--font-size--l));
  margin-bottom: calc(var(--line-height--l) * var(--font-size--l) / 2);
}


/*
 * Media
 */

.article__media {
  margin-top: var(--padding-vertical);
  margin-bottom: var(--padding-vertical);
}

/*
 * Meta
 */

.article__meta {
  color: var(--color-gray-4);
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  margin-top: var(--padding-vertical);
  margin-bottom: var(--padding-vertical);
}

.article__meta.article__meta--inline {
  float: left;
  margin-top: 3px; /* Line up with default line-height */
  margin-bottom: 0;
}

.article__meta a {
  @mixin magic-underline var(--color-gray-4) {}
}

.article__meta a:hover,
.article__meta a:focus {
  @mixin magic-underline var(--color-hover) {}
}

.article__meta > * {
  display: inline-block;
  margin-right: .75em;
}

/*
 * Topic
 */

.article__topic {
  background-color: var(--color-highlight);
  color: color(black a(60%));
  border-radius: var(--border-radius);
  padding-right: var(--padding-horizontal);
  padding-left: var(--padding-horizontal);
}

/*
 * Byline
 */

.article__byline {
  border-left: 1px solid var(--color-gray-5);
  font-size: var(--font-size--s);
  line-height: var(--line-height--p);
  float: right;
  margin-top: calc(var(--line-height--s) * var(--font-size--s) * .25);
  margin-bottom: calc(var(--line-height--s) * var(--font-size--s) * .75);
  margin-left: var(--grid-gutter);
  padding-left: calc(var(--grid-gutter) / 2);
}

.article__byline-photo,
.article__byline-author,
.article__byline-email,
.article__byline-weblink {
  display: block;
}

.article__byline-photo {
  border-radius: var(--border-radius--s);
  max-width: calc(var(--grid-gutter) * 4);
  margin-bottom: calc(var(--line-height--s) * var(--font-size--s) / 2);
}

.article__byline-author {
  font-weight: bold;
}


/*
 * Lead
 */

.article__lead { }

.article__lead p {
  font-family: var(--font-p);
  font-size: var(--font-size--p);
  font-weight: bold;
  line-height: var(--line-height--p);
  margin-bottom: calc(var(--line-height--p) * var(--font-size--p) / 2);
}

.article__meta--inline + .article__lead p {
  font-family: var(--font-ui);
  font-weight: normal;
}


/*
 * Body
 */

.article__body p {
  font-family: var(--font-p);
  font-size: var(--font-size--p);
  line-height: var(--line-height--p);
  margin-bottom: calc(var(--line-height--p) * var(--font-size--p) / 2);
}

.article__body h1 {
  font-family: var(--font-h);
  font-size: var(--font-size--2xl);
  line-height: var(--line-height--2xl);
  margin-bottom: calc(var(--line-height--p) * var(--font-size--p));
  margin-top: calc(var(--line-height--p) * var(--font-size--p) * 1.5);
}

.article__body h2 {
  font-family: var(--font-h);
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
  margin-bottom: calc(var(--line-height--p) * var(--font-size--p) / 2);
  margin-top: calc(var(--line-height--p) * var(--font-size--p) * 1.5);
}

.article__body h3 {
  font-family: var(--font-h);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
  margin-bottom: calc(var(--line-height--p) * var(--font-size--p) / 2);
  margin-top: calc(var(--line-height--p) * var(--font-size--p));
}

.article__body h4,
.article__body h5,
.article__body h6 {
  font-family: var(--font-h);
  font-size: var(--font-size--p);
  line-height: var(--line-height--p);
  margin-bottom: 0;
  margin-top: calc(var(--line-height--p) * var(--font-size--p) / 2);
}

.article__body a {
  @mixin magic-underline {};
}

.article__body a:hover {
  color: var(--color-hover);
  @mixin magic-underline var(--color-hover) {}
}
