/*
 * Article components
 *
 * Example:
 *    .article
 *      .article__heading
 *      .article__lead
 *        P
 *      .article__body
 *        P
 */

.article {

}

.article a:hover {
  color: var(--color-hover);
}

/*
 * Headings
 */

.article__heading {
  font-family: var(--font-h);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  margin-top: calc(var(--line-height-2xl) * var(--font-size-2xl));
  margin-bottom: calc(var(--line-height-2xl) * var(--font-size-2xl) / 2);
}

/*
 * Meta
 */

.article__meta {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin-top: calc(var(--line-height-sm) * var(--font-size-sm) / 4);
  margin-bottom: calc(var(--line-height-sm) * var(--font-size-sm) / 4);
}

.article__meta a {
  @mixin magic-underline {};
}

.article__meta a:hover,
.article__meta a:focus {
  @mixin magic-underline var(--color-hover) {}
}

.article__meta .article__topic,
.article__meta .article__pubdate {
  display: inline-block;
  margin-right: calc(var(--grid-gutter) / 2);
}

.article__meta .article__topic {
  background-color: var(--color-highlight);
  border-radius: var(--border-radius-base);
  padding-right: calc(var(--grid-gutter) / 4);
  padding-left: calc(var(--grid-gutter) / 4);
}

/*
 * Byline
 */

.article__byline {
  border-left: 1px solid var(--color-gray-5);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-p);
  float: right;
  margin-top: calc(var(--line-height-sm) * var(--font-size-sm) * .25);
  margin-bottom: calc(var(--line-height-sm) * var(--font-size-sm) * .75);
  margin-left: var(--grid-gutter);
  padding-left: calc(var(--grid-gutter) / 2);
}

.article__byline-photo,
.article__byline-author,
.article__byline-email,
.article__byline-weblink {
  display: block;
}

.article__byline-photo {
  max-width: calc(var(--grid-gutter) * 4);
  margin-bottom: calc(var(--line-height-sm) * var(--font-size-sm) / 2);
}

.article__byline-author {
  font-weight: bold;
}

/*
 * Lead and body text
 */

.article__lead p {
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  font-weight: bold;
  line-height: var(--line-height-p);
  margin-top: calc(var(--line-height-p) * var(--font-size-p) / 2);
  margin-bottom: calc(var(--line-height-p) * var(--font-size-p) / 2);
}

.article__body p {
  font-family: var(--font-p);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  margin-top: calc(var(--line-height-p) * var(--font-size-p) / 2);
  margin-bottom: calc(var(--line-height-p) * var(--font-size-p) / 2);
}

.article__body h2 {
  font-family: var(--font-h);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  margin-top: calc(var(--line-height-xl) * var(--font-size-xl));
  margin-bottom: calc(var(--line-height-xl) * var(--font-size-xl) / 2);
}

.article__body h3 {
  font-family: var(--font-h);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  margin-top: calc(var(--line-height-l) * var(--font-size-l));
  margin-bottom: calc(var(--line-height-l) * var(--font-size-l) / 2);
}

.article__body h4,
.article__body h5,
.article__body h6 {
  font-family: var(--font-h);
  font-size: var(--font-size-p);
  font-weight: bold;
  line-height: var(--line-height-p);
  margin-top: calc(var(--line-height-p) * var(--font-size-p));
  margin-bottom: calc(var(--line-height-p) * var(--font-size-p) / 2);
}

.article__lead a,
.article__body a {
  @mixin magic-underline {};
}

.article__lead a:hover,
.article__body a:hover {
  color: var(--color-hover);
  @mixin magic-underline var(--color-hover) {}
}
