/*
 * Brand component
 */

.brand {
  background-color: var(--brand-bg);
  display: inline-block;
  position: relative;
  max-width: 288px;
  margin-top: var(--padding-vertical--l);
}

.brand::before {
  content: '';
  background: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  left: -999px;
}
