/*
 * Brand component
 */

.brand {
  background-color: var(--color__gray-1);
  display: block;
  width: var(--brand__width-s);
  max-width: 100%;
  padding-left: calc(var(--grid__gutter) / 4);
}

@media (--viewport-m-min) {
  .brand {
    width: var(--brand__width-m);
  }
}

@media (--viewport-l-min) {
  .brand {
    width: var(--brand__width-l);
  }
}
