/*
 * Brand component
 */

.brand {
  background-color: var(--color-gray-2);
  position: relative;
  margin-top: var(--padding-vertical--l);
  margin-bottom: var(--padding-vertical--l);
  max-width: 288px;
}

.brand::before {
  content: '';
  background: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  left: -999px;
}
