.header {
}


@media (--viewport-s-min) {
  .header {
    width: var(--hidari__width-s);
  }
}

@media (--viewport-m-min) {
  .header {
    width: var(--hidari__width-m);
  }
}

@media (--viewport-l-min) {
  .header {
    width: var(--hidari__width-l);
  }
}
