.hidari {
  background-color: var(--hidari-bg);
  color: var(--hidari-color);
  padding-top: calc((var(--padding-vertical--l) * 2) + 123px);
  padding-bottom: var(--padding-vertical--l);
}

@media (--viewport-s-min) {
  .hidari {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: calc(var(--brand-width) + (var(--grid-gutter) / 2));
    min-height: 100vh;
    padding-right: calc(var(--grid-gutter) / 2);
    padding-left: 0;
  }
}

