.hidari {
  background-color: var(--hidari-bg);
  color: var(--hidari-color);
  padding-top: var(--padding-vertical--l);
  padding-bottom: var(--padding-vertical--l);
}

@media (--viewport-s-min) {
  .hidari {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: var(--hidari-width--s);
    min-height: 100vh;
    padding-top: calc((var(--padding-vertical--l) * 2) + 103px);
    padding-right: calc(var(--grid-gutter) / 2);
    padding-left: 0;
  }
}

@media (--viewport-m-min) {
  .hidari {
    width: var(--hidari-width--m);
  }
}

@media (--viewport-l-min) {
  .hidari {
    width: var(--hidari-width--l);
  }
}
