.hidari {
  background-color: var(--hidari__bg-color);
  color: var(--hidari__color);
  padding-top: var(--margin__v-l);
  padding-bottom: var(--margin__v-l);
}

@media (--viewport-s-min) {
  .hidari {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: var(--hidari__width-s);
    min-height: 100vh;
    padding-top: calc((var(--margin__v-l) * 2) + 151px);
    padding-right: calc(var(--grid__gutter) / 2);
    padding-left: 0;
  }
}

@media (--viewport-m-min) {
  .hidari {
    width: var(--hidari__width-m);
    padding-top: calc((var(--margin__v-l) * 2) + 167px);
  }
}

@media (--viewport-l-min) {
  .hidari {
    width: var(--hidari__width-l);
    padding-top: calc((var(--margin__v-l) * 2) + 184px);
  }
}
