/*
 * List component
 * Serves as a container for other components
 *
 * Example:
 *    .list
 *      .list__title
 *      .list__item
 *      .list__item
 *      ...
 */

.list {
  margin-bottom: var(--padding-vertical--l);
}


/*
 * Title
 */

.list__title {
  font-weight: bold;
  font-size: var(--font-size--s);
  line-height: calc(var(--line-height--s) * 1.5);
  letter-spacing: .02em;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: var(--padding-vertical);
}

.hidari .list__title {
  border-left: 7px solid var(--brand-bg);
  padding-left: var(--padding-horizontal);
}

.migi .list__title {
  border-left: 7px solid var(--color-gray-5);
  padding-left: var(--padding-horizontal);
}

/* Highlight variation */
.list__title.list__title--highlight {
  border-color: var(--color-highlight);
}

/* Stretch variation */
.hidari .list__title.list__title--stretch {
  background-color: var(--brand-bg);
  color: var(--color-gray-5);
  padding-left: 0;
  border-left: none;
}
.migi .list__title.list__title--stretch {
  background-color: var(--color-gray-5);
  color: var(--color-gray-2);
  border-left: none;
}

.list__title.list__title--stretch::before {
  content: '';
  background: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
}
.hidari .list__title.list__title--stretch::before {
  left: -999px;
}
.migi .list__title.list__title--stretch::before {
  right: -999px;
}

/* Highlight + stretch variation */
.list__title.list__title--stretch.list__title--highlight {
  background-color: var(--color-highlight);
  color: color(black a(60%));
}


/*
 * Item
 */

.list__item {
  display: block;
  padding-top: var(--padding-vertical--s);
  padding-bottom: var(--padding-vertical--s);

  @mixin clearfix {}
}


/*
 * Item thumbnail
 */

.list__item-thumbnail {
  border: 1px solid;
  float: right;
  width: 90px;
  margin-left: var(--padding-horizontal);
}


/*
 * Item heading
 */

.list__item-heading {
  display: block;
  font-weight: bold;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  letter-spacing: .02em;
  margin-bottom: var(--padding-vertical--xs);
}

a.list__item:hover .list__item-heading,
a.list__item:focus .list__item-heading {
  text-decoration: underline;
}

.list__item-heading--l {
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.list__item-heading--xl {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
}

/*
 * Item meta
 */

.list__item-meta {
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  display: block;
  margin-bottom: var(--padding-vertical--xs);
}

.list__item-meta * {
  display: inline-block;
  margin-right: var(--padding-horizontal--s);
}

/*
 * More link
 */

.list__morelink {
  display: block;
  font-weight: bold;
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}


/*
 * Bordered variant
 */

.list--bordered .list__item {
  border-bottom: 1px solid color(black a(20%));
}
.hidari .list--bordered .list__item:last-child {
  border-color: transparent;
}


/*
 * Spaced variant
 */

.list--spaced .list__item {
  padding-bottom: var(--padding-vertical--l);
  padding-top: var(--padding-vertical--l);
}


/*
 * Adjustments for articles inside lists
 */

.list .article .article__meta {
  vertical-align: bottom;
  float: left;
  margin-bottom: 0;
  margin-top: .2em;
}

.article__meta > * {
  margin-right: .25em;
}

.article__meta {
  margin-right: .5em;
}

.list .article .article__media {
  margin-top: var(--padding-vertical);
  margin-bottom: var(--padding-vertical);
}

.list .article .article__lead {
  font-weight: normal;
}

.list .article .article__heading {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
}

@media (--viewport-s-min) {
  .list .article .article__heading {
    font-size: var(--font-size--2xl);
    line-height: var(--line-height--2xl);
    margin-top: var(--padding-vertical--l);
  }
}
