/*
 * List component
 * Serves as a container for other components
 *
 * Example:
 *    .list
 *      .list__title
 *      .list__item
 *      .list__item
 *      ...
 */

.list {
  margin-bottom: var(--padding-vertical--l);
}


/*
 * Title
 */

.list__title {
  font-family: var(--font-h);
  font-size: var(--font-size--s);
  line-height: calc(var(--line-height--s) * 1.5);
  letter-spacing: .02em;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: var(--padding-vertical);
}

.hidari .list__title {
  border-left: 7px solid var(--brand-bg);
  padding-left: var(--padding-horizontal);
}

.migi .list__title {
  border-left: 7px solid var(--color-gray-5);
  padding-left: var(--padding-horizontal);
}

/* Highlight variation */
.list__title.list__title--highlight {
  border-color: var(--color-highlight);
}

/* Stretch variation */
.hidari .list__title.list__title--stretch {
  background-color: var(--brand-bg);
  color: var(--color-gray-5);
  padding-left: 0;
  border-left: none;
}
.migi .list__title.list__title--stretch {
  background-color: var(--color-gray-5);
  color: var(--color-gray-2);
  border-left: none;
}

.list__title.list__title--stretch::before {
  content: '';
  background: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
}
.hidari .list__title.list__title--stretch::before {
  left: -999px;
}
.migi .list__title.list__title--stretch::before {
  right: -999px;
}

/* Highlight + stretch variation */
.list__title.list__title--stretch.list__title--highlight {
  background-color: var(--color-highlight);
  color: color(black a(60%));
}


/*
 * Item
 */

.list__item {
  border-bottom: 1px solid transparent;
  display: block;
}

.list__item-title {
  font-family: var(--font-h);
  font-size: var(--font-size--m);
  line-height: var(--line-height--l);
}


/*
 * Bordered variant
 */

.list--bordered .list__item {
  border-color: color(black a(20%));
}
.hidari .list--bordered .list__item:last-child {
  border-color: transparent;
}


/*
 * Spaced variant
 */

.list--spaced .list__item {
  margin-bottom: var(--padding-vertical--s);
  margin-top: var(--padding-vertical--s);
}
