/*
 * List component
 * Serves as a container for other components
 *
 * Example:
 *    .list
 *      .list__title
 *      .list__item
 *      .list__item
 *      ...
 */

.list {
}


/*
 * Title
 */

.list__title {
  font-size: var(--font-size--s);
  font-weight: bold;
  line-height: calc(var(--line-height--s) * 2);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: var(--padding-vertical);
}

.grid__hidari .list__title {
  border-left: 7px solid var(--color-gray-2);
  padding-left: var(--padding-horizontal);
}

.grid__migi .list__title {
  border-left: 7px solid var(--color-gray-5);
  padding-left: var(--padding-horizontal);
}

/* Highlight variation */
.list__title.list__title--highlight {
  border-color: var(--color-highlight);
}

/* Stretch variation */
.grid__hidari .list__title.list__title--stretch {
  background-color: var(--color-gray-2);
  color: var(--color-gray-5);
}
.grid__migi .list__title.list__title--stretch {
  background-color: var(--color-gray-5);
  color: var(--color-gray-2);
}

.list__title.list__title--stretch::before {
  content: '';
  background: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
}
.grid__hidari .list__title.list__title--stretch::before {
  left: -999px;
}
.grid__migi .list__title.list__title--stretch::before {
  right: -999px;
}

/* Highlight + stretch variation */
.list__title.list__title--stretch.list__title--highlight {
  background-color: var(--color-highlight);
  color: color(black a(60%));
}
.grid__hidari .list__title.list__title--stretch.list__title--highlight {
  padding-left: 0;
}


/*
 * Item
 */

.list__item {
  border-bottom: 1px solid transparent;
  display: block;
}


/*
 * Bordered variant
 */

.grid__hidari .list--bordered .list__item {
  border-color: var(--color-gray-2);
}

.grid__migi .list--bordered .list__item {
  border-color: var(--color-gray-5);
}
