/*
 * Media components
 *
 * Example:
 *    .media
 *      .media__image
 *      .media__caption
 */

.media {
  background-color: var(--color-gray-5);
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  position: relative;
  min-height: calc(var(--line-height--s) * var(--font-size--s) * 2);
}

.media__image {
  vertical-align: middle;
  border-radius: var(--border-radius--s);
}

.media__caption {
  border-bottom-right-radius: var(--border-radius--s);
  background-color: color(var(--color-gray-1) a(64%));
  color: var(--color-gray-5);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 1em;
  padding-right: 1em;
}
