/*
 * Media components
 *
 * Example:
 *    .media
 *      .media__image
 *      .media__caption
 */

.media {
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  position: relative;
  min-height: var(--padding-vertical--l);
}

.media img {
  vertical-align: middle;
  border: 1px solid;
}

.hidari .media img { border-color: var(--hidari-color); }
.migi .media img { border-color: var(--migi-color); }

.media__image {
  vertical-align: middle;
  border-radius: var(--border-radius--s);
}

.media__caption {
  border-top-left-radius: var(--border-radius);
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.hidari .media__caption {
  background-color: var(--hidari-color);
  color: var(--hidari-bg);
}
.migi .media__caption {
  background-color: var(--migi-color);
  color: var(--migi-bg);
}

/*
 * Thumbnail variation
 */

.media.media--thumbnail-left {
  float: left;
  max-width: 30%;
  margin-right: var(--padding-horizontal--l);
}

.media.media--thumbnail-right {
  float: right;
  max-width: 30%;
  margin-left: var(--padding-horizontal--l);
}
