/*
 * Media components
 *
 * Example:
 *    .media
 *      .media__image
 *      .media__caption
 */

.media {
  font-size: var(--type__size-s);
  line-height: var(--type__lh-s);
  position: relative;
  min-height: var(--margin__v-l);
}

.media img {
  vertical-align: middle;
  border: 1px solid;
}

.hidari .media img { border-color: var(--hidari__color); }
.migi .media img { border-color: var(--migi__color); }

.media__image {
  vertical-align: middle;
  border-radius: var(--border-radius-s);
}

.media__caption {
  border-bottom-right-radius: var(--border-radius-s);
  border-bottom-left-radius: var(--border-radius-s);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.hidari .media__caption {
  background-color: var(--hidari__color);
  color: var(--hidari__bg-color);
}
.migi .media__caption {
  background-color: var(--migi__color);
  color: var(--migi__bg-color);
}

/*
 * Thumbnail variation
 */

.media.media--thumbnail-left {
  float: left;
  max-width: 30%;
  margin-right: var(--margin__h-l);
}

.media.media--thumbnail-right {
  float: right;
  max-width: 30%;
  margin-left: var(--margin__h-l);
}
