.migi {
  background-color: var(--migi-bg);
  color: var(--migi-color);
  padding-top: var(--padding-vertical--l);
  padding-bottom: var(--padding-vertical--l);
}

@media (--viewport-s-min) {
  .migi {
    position: absolute;
    z-index: -20;
    top: 0;
    right: 0;
    left: calc(var(--brand-width) + (var(--grid-gutter) / 2));
    min-height: 100vh;
    padding-right: calc(var(--grid-gutter) / 2);
    padding-left: calc(var(--grid-gutter) / 2);
  }
}
