/*
 * Nav component
 */

.nav {
  background-color: var(--color-highlight);
  font-size: var(--font-size--m);
  position: fixed;
  z-index: 999;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  transition: var(--transition-duration--fast);
  overflow: hidden;
}

.nav--expanded {
  right: 0;
  overflow-y: scroll;
}


/*
 * Buttons
 */

.nav__home-link {
  float: left;
  font-size: var(--font-size--m);
  font-weight: bold;
  padding: var(--padding-vertical--s) 0;
  margin-top: var(--padding-vertical--xl);
  margin-bottom: var(--padding-vertical);
  margin-left: -1em;
}

.nav__open-button {
  display: inline-block;
  background-color: var(--color-highlight);
  color: var(--color-gray-1);
  font-size: var(--font-size--m);
  font-weight: bold;
  line-height: 2;
  position: relative;
  padding-right: var(--padding-horizontal--s);
  margin: var(--padding-vertical--l) calc(var(--grid-gutter) / 2);
}
.nav__open-button:before {
  content: '';
  background: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  left: -999px;
}

.nav__close-button {
  float: right;
  border-radius: var(--border-radius--l);
  background-color: var(--color-gray-1);
  color: var(--color-gray-7);
  font-size: var(--font-size--m);
  font-weight: bold;
  padding: var(--padding-vertical--s) var(--padding-horizontal--s);
  margin-top: var(--padding-vertical--xl);
  margin-bottom: var(--padding-vertical);
}
