/*
 * Nav component
 */

.nav__group {
  background-color: var(--nav__bg-color);
  color: var(--nav__color);
  padding: var(--margin__v-xs) calc(var(--grid__gutter) * .5);
}

.nav__item {
  padding: var(--margin__v-xs) calc(var(--grid__gutter) * .5);
}
