:root {



  /* GRID SYSTEM
   */

  --main__w--xs: calc(320px - var(--body__border-width));
  --main__w--s: calc(834px - var(--body__border-width));
  --main__w--m: calc(1154px - var(--body__border-width));
  --main__w--l: calc(1412px - var(--body__border-width));

  --grid__gutter: 30px;



  /* COLORS
   */

  /* Grayscale */
  --color__gray-0:   #1D252D;
  --color__gray-1:   #333F48;
  --color__gray-2:   #5B6770;
  --color__gray-3:   #7C878E;
  --color__gray-4:   #A2AAAD;
  --color__gray-5:   #D0D3D4;
  --color__gray-6:   #eff4f5;
  --color__gray-7:   #f9fbfc;

  /* Named colors */
  --color__red:        #ED2F5C;
  --color__orange:     #FA9632;
  --color__gold:       #fedd3d;
  --color__turquoise:  #35dbb7;
  --color__azure:      #2AACE8;
  --color__blue:       #4878E8;

  /* Designated color roles */
  --color__highlight:      var(--color__gold);
  --color__contrast:       var(--color__blue);
  --color__complement-1:   var(--color__red);
  --color__complement-2:   var(--color__orange);
  --color__complement-3:   var(--color__turquoise);
  --color__complement-4:   var(--color__azure);


  /* TYPOGRAPHY
   * Most parameters assume font-sans is used
   */

  /* Font stacks */
  --font__sans:   'Nimbus Novus Sans Condensed', 'Arial Narrow', 'Arial', sans-serif;
  --font__serif:  'URW Garamond', 'Garamond', 'Baskerville', 'Times New Roman', serif;

  /* Typographic constants */
  --type__rembase:    16px;
  --type__baseline:   7px;

  /* Modular scale 4:5 based on 20px */
  /* http://www.modularscale.com/?20&px&1.25&web&text */
  --type__size-xs:    0.8125rem;  /* 13px */
  --type__size-s:     1rem;       /* 16px */
  --type__size-m:     1.25rem;    /* 20px */
  --type__size-l:     1.5625rem;  /* 25px */
  --type__size-xl:    2rem;       /* 32px */
  --type__size-2xl:   2.4375rem;  /* 39px */
  --type__size-3xl:   3.0625rem;  /* 49px */
  --type__size-4xl:   3.8125rem;  /* 61px */
  --type__size-5xl:   4.75rem;    /* 76px */

  /* Line heighs based on multiples of 6 */
  --type__lh-xs:    1.0769230769;   /* 14px */
  --type__lh-s:     1.3125;         /* 21px */
  --type__lh-m:     1.05;           /* 21px; */
  --type__lh-l:     1.12;           /* 28px */
  --type__lh-xl:    1.09375;        /* 35px */
  --type__lh-2xl:   1.0769230769;   /* 42px */
  --type__lh-3xl:   1;              /* 49px */
  --type__lh-4xl:   0.9180327869;   /* 56px */
  --type__lh-5xl:   0.8289473684;   /* 63px */

  /* Letter spacing for each type setting (best for sans-serif) */
  --type__ls-xs:    .5px;
  --type__ls-s:     .25px;
  --type__ls-m:     0;
  --type__ls-l:     0;
  --type__ls-xl:    0;
  --type__ls-2xl:   -.25px;
  --type__ls-3xl:   -.5px;
  --type__ls-4xl:   -.75px;
  --type__ls-5xl:   -1px;

  /* Typearea-specific typesetting */
  --typearea__size:   1.25rem;  /* 20px */
  --typearea__lh:     1.4;      /* 28px */
  --typearea__mb:     var(--margin__v-s); /* 14px */



  /* MISC DEFAULTS
   */

  /* Misc */
  --body__bg-color:       var(--color__gray-7);
  --body__color:          var(--color__gray-0);
  --body__border-color:   var(--color__highlight);
  --body__border-width:   6px;

  --brand__width: var(--main__w--xs);
  --brand__height: 133px;

  --hidari__bg-color:   var(--color__gray-1);
  --hidari__color:      var(--color__gray-7);

  --migi__bg-color:   transparent;
  --migi__color:      inherit;

  --transition-default:   .55s ease-in-out;
  --transition-fast:      .25s ease-in-out;
  --transition-slow:      1.2s ease-in-out;

  --border-radius-s:  2px;
  --border-radius-m:  3px;
  --border-radius-l:  5px;

  --list__media-width:  calc(var(--type__baseline) * 11);  /* 77px */

  --margin__v-xs:   var(--type__baseline);            /* 7px */
  --margin__v-s:    calc(var(--type__baseline) * 2);  /* 14px */
  --margin__v-m:    calc(var(--type__baseline) * 3);  /* 21px */
  --margin__v-l:    calc(var(--type__baseline) * 4);  /* 28px */
  --margin__v-xl:   calc(var(--type__baseline) * 5);  /* 35px */
  --margin__v-2xl:  calc(var(--type__baseline) * 6);  /* 42px */
  --margin__v-3xl:  calc(var(--type__baseline) * 7);  /* 49px */

  --margin__h-xs:   calc(var(--margin__h-m) / 4);     /* 4px */
  --margin__h-s:    calc(var(--margin__h-m) / 2);     /* 8px */
  --margin__h-m:    calc(var(--grid__gutter) / 4);    /* 16px */
  --margin__h-l:    calc(var(--margin__h-m) * 1.5);   /* 24px */
  --margin__h-xl:   calc(var(--margin__h-m) * 2);     /* 32px */
  --margin__h-2xl:  calc(var(--margin__h-m) * 3.5);   /* 56px */
  --margin__h-3xl:  calc(var(--margin__h-m) * 4);     /* 64px */



  /* COMPONENTS
   */

  /* Navbar */
  --nav__bg-color: var(--color__highlight);
  --nav__color: var(--color__gray-0);
}
