:root {

  /* Grid system */

  --grid-gutter:    64px;
  --grid-maxwidth:  1140px;

  --brand-width--s:   260px;
  --brand-width--m:   285px;
  --brand-width--l:   310px;
  --hidari-width--s:  calc(var(--brand-width--s) + var(--grid-gutter));
  --hidari-width--m:  calc(var(--brand-width--m) + var(--grid-gutter));
  --hidari-width--l:  calc(var(--brand-width--l) + var(--grid-gutter));


  /* Colors */

  --color-gray-0:   #1D252D;
  --color-gray-1:   #333F48;
  --color-gray-2:   #5B6770;
  --color-gray-3:   #7C878E;
  --color-gray-4:   #A2AAAD;
  --color-gray-5:   #C1C6C8;
  --color-gray-6:   #D0D3D4;
  --color-gray-7:   #eff4f5;

  --color-red:        #ee2947;
  --color-orange:     #fbb315;
  --color-gold:       #fedd3d;
  --color-turquoise:  #35dbb7;
  --color-azure:      #2984e9;
  --color-blue:       #4848e8;

  --brand-bg:   var(--color-gray-1);

  --body-bg:            var(--color-gray-7);
  --body-color:         var(--color-gray-1);
  --body-border-color:  var(--color-gold);
  --body-border-width:  var(--padding-horizontal);

  --hidari-bg:      var(--color-gold);
  --hidari-color:   var(--color-gray-1);

  --migi-bg:        var(--body-bg);
  --migi-color:     var(--body-color);

  --color-highlight:  var(--color-gold);
  --color-contrast:   var(--color-blue);

  --color-contrast-1:   var(--color-red);
  --color-contrast-2:   var(--color-orange);
  --color-contrast-3:   var(--color-turquoise);
  --color-contrast-4:   var(--color-azure);


  /* Typography */

  --font-sans:    'Nimbus Novus Sans Condensed', monospace;
  --font-serif:   'URW Garamond', monospace;

  --font-size--xs:    13px;
  --font-size--s:     16px;
  --font-size--m:     20px;
  --font-size--l:     25px;
  --font-size--xl:    31px;
  --font-size--2xl:   39px;
  --font-size--3xl:   49px;

  --line-height--xs:    1.3076923077;   /* 17px */
  --line-height--s:     1.25;           /* 20px */
  --line-height--m:     1.25;           /* 25px; */
  --line-height--l:     1.2;            /* 30px */
  --line-height--xl:    1.1290322581;   /* 35px */
  --line-height--2xl:   1.0769230769;   /* 42px */
  --line-height--3xl:   1.0408163265;   /* 51px */

  --font-size--p:     var(--font-size--m);
  --line-height--p:   1.4; /* 28px @ 20px */


  /* Defaults */

  --transition-duration:        .55s;
  --transition-duration--fast:  .25s;
  --transition-duration--slow:  1.2s;

  --border-radius:      2px;
  --border-radius--s:   calc(var(--border-radius) / 2);
  --border-radius--l:   calc(var(--border-radius) * 2);

  --padding-vertical:       calc(var(--font-size--m) * var(--line-height--m) / 2);
  --padding-vertical--xs:   calc(var(--padding-vertical--s) / 2);
  --padding-vertical--s:    calc(var(--padding-vertical) / 2);
  --padding-vertical--l:    calc(var(--padding-vertical) * 2);
  --padding-vertical--xl:   calc(var(--padding-vertical--l) * 2);

  --padding-horizontal:       calc(var(--grid-gutter) / 5);
  --padding-horizontal--xs:   calc(var(--padding-horizontal--s) / 3);
  --padding-horizontal--s:    calc(var(--padding-horizontal) / 3);
  --padding-horizontal--l:    calc(var(--padding-horizontal) * 2);
  --padding-horizontal--xl:   calc(var(--padding-horizontal--l) * 2);
}
