:root {

  --grid-gutter:    64px;
  --grid-maxwidth:  1140px;

  --brand-width--s:   260px;
  --brand-width--m:   285px;
  --brand-width--l:   310px;
  --hidari-width--s:  calc(var(--brand-width--s) + (var(--grid-gutter) / 2));
  --hidari-width--m:  calc(var(--brand-width--m) + (var(--grid-gutter) / 2));
  --hidari-width--l:  calc(var(--brand-width--l) + (var(--grid-gutter) / 2));

  --color-gray-0:   #1D252D;
  --color-gray-1:   #333F48;
  --color-gray-2:   #5B6770;
  --color-gray-3:   #7C878E;
  --color-gray-4:   #A2AAAD;
  --color-gray-5:   #C1C6C8;
  --color-gray-6:   #D0D3D4;
  --color-gray-7:   #eff4f5;

  --color-red:        #ee2947;
  --color-orange:     #fbb315;
  --color-gold:       color(#FFCD00 l(57%));
  --color-turquoise:  #35dbb7;
  --color-azure:      #2984e9;
  --color-blue:       #4848e8;

  --brand-bg:   var(--color-gray-1);

  --body-bg:            var(--color-gray-7);
  --body-color:         var(--color-gray-1);
  --body-border-color:  var(--color-gold);
  --body-border-width:  var(--padding-horizontal);

  --hidari-bg:      var(--color-gold);
  --hidari-color:   var(--color-gray-1);

  --migi-bg:        var(--body-bg);
  --migi-color:     var(--body-color);

  --color-highlight:  var(--color-gold);
  --color-contrast:   var(--color-blue);

  --color-contrast-1:   var(--color-red);
  --color-contrast-2:   var(--color-orange);
  --color-contrast-3:   var(--color-turquoise);
  --color-contrast-4:   var(--color-azure);

  --font-ui:  'Nimbus Novus Sans Medium', monospace;
  --font-p:   'Stempel Garamond LT', monospace;
  --font-h:   'Nimbus Novus Sans Condensed Semi Bold', monospace;

  --font-size--s:     14px;
  --font-size--p:     19px;
  --font-size--l:     26px;
  --font-size--xl:    36px;
  --font-size--2xl:   49px;
  --font-size--3xl:   68px;
  --font-size--4xl:   92px;

  --line-height--s:     1.5;          /* 21px */
  --line-height--p:     1.4736842105; /* 28px; */
  --line-height--l:     1.3461538462; /* 35px */
  --line-height--xl:    1.1666666667; /* 42px */
  --line-height--2xl:   1.1428571429; /* 56px */
  --line-height--3xl:   1.0294117647; /* 70px */
  --line-height--4xl:   1.0652173913; /* 98px */

  --transition-duration:        .45s;
  --transition-duration--fast:  .25s;
  --transition-duration--slow:  .8s;

  --border-radius:      2px;
  --border-radius--s:   calc(var(--border-radius) / 2);
  --border-radius--l:   calc(var(--border-radius) * 2);

  --padding-vertical:       calc(var(--font-size--p) * var(--line-height--p) / 2);
  --padding-vertical--xs:   calc(var(--padding-vertical--s) / 2);
  --padding-vertical--s:    calc(var(--padding-vertical) / 2);
  --padding-vertical--l:    calc(var(--padding-vertical) * 2);
  --padding-vertical--xl:   calc(var(--padding-vertical--l) * 2);

  --padding-horizontal:       calc(var(--grid-gutter) / 4);
  --padding-horizontal--xs:   calc(var(--padding-horizontal--s) / 2);
  --padding-horizontal--s:    calc(var(--padding-horizontal) / 2);
  --padding-horizontal--l:    calc(var(--padding-horizontal) * 2);
  --padding-horizontal--xl:   calc(var(--padding-horizontal--l) * 2);
}
