/*
 * Main grid components
 *
 * Example:
 *    .grid.grid--N-N
 *      .grid__hidari
 *        .grid__column--N
 *      .grid__migi
 *        .grid__column--N
 */

body {
  background: linear-gradient(to right, var(--color-hidari-bg) 0%, var(--color-hidari-bg) 50%, var(--color-migi-bg) 50%, var(--color-migi-bg) 100%);
}

.grid {
  background-color: gray;
  width: 94%;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.grid__hidari,
.grid__migi {
  float: left;
  min-height: 100vh;
}

.grid__hidari {
  background-color: var(--color-hidari-bg);
  color: var(--color-hidari);
  padding-right: calc(var(--grid-unit-width) / 2);
}

.grid__migi {
  background-color: var(--color-migi-bg);
  color: var(--color-migi);
  padding-left: calc(var(--grid-unit-width) / 2);
}

[class^='grid__unit'] {
  background-color: color(black a(5%));
  border: 1px solid color(black a(15%));
  float: left;
  padding-left: calc(var(--grid-gutter) / 2);
  padding-right: calc(var(--grid-gutter) / 2);
}

.grid__unit--clear {
  clear: left;
}


/*
 * Grid variations
 */

/* 2:10 */
@mixin grid-variation 2, 10 {}
@mixin hidari-grid-unit 2, 10, 2 {}
@mixin migi-grid-unit 2, 10, 10 {}
@mixin migi-grid-unit 2, 10, 8 {}
@mixin migi-grid-unit 2, 10, 7 {}
@mixin migi-grid-unit 2, 10, 6 {}
@mixin migi-grid-unit 2, 10, 5 {}
@mixin migi-grid-unit 2, 10, 4 {}
@mixin migi-grid-unit 2, 10, 3 {}
@mixin migi-grid-unit 2, 10, 2 {}

/* 3:9 */
@mixin grid-variation 3, 9 {}
@mixin hidari-grid-unit 3, 9, 3 {}
@mixin hidari-grid-unit 3, 9, 2 {}
@mixin migi-grid-unit 3, 9, 9 {}
@mixin migi-grid-unit 3, 9, 8 {}
@mixin migi-grid-unit 3, 9, 7 {}
@mixin migi-grid-unit 3, 9, 6 {}
@mixin migi-grid-unit 3, 9, 5 {}
@mixin migi-grid-unit 3, 9, 4 {}
@mixin migi-grid-unit 3, 9, 3 {}
@mixin migi-grid-unit 3, 9, 2 {}

/* 4:8 */
@mixin grid-variation 4, 8 {}
@mixin hidari-grid-unit 4, 8, 4 {}
@mixin hidari-grid-unit 4, 8, 3 {}
@mixin hidari-grid-unit 4, 8, 2 {}
@mixin migi-grid-unit 4, 8, 8 {}
@mixin migi-grid-unit 4, 8, 7 {}
@mixin migi-grid-unit 4, 8, 6 {}
@mixin migi-grid-unit 4, 8, 5 {}
@mixin migi-grid-unit 4, 8, 4 {}
@mixin migi-grid-unit 4, 8, 3 {}
@mixin migi-grid-unit 4, 8, 2 {}

/* 5:7 */
@mixin grid-variation 5, 7 {}
@mixin hidari-grid-unit 5, 7, 5 {}
@mixin hidari-grid-unit 5, 7, 4 {}
@mixin hidari-grid-unit 5, 7, 3 {}
@mixin hidari-grid-unit 5, 7, 2 {}
@mixin migi-grid-unit 5, 7, 7 {}
@mixin migi-grid-unit 5, 7, 6 {}
@mixin migi-grid-unit 5, 7, 5 {}
@mixin migi-grid-unit 5, 7, 4 {}
@mixin migi-grid-unit 5, 7, 3 {}
@mixin migi-grid-unit 5, 7, 2 {}

/* 6:6 */
@mixin grid-variation 6, 6 {}
@mixin hidari-grid-unit 6, 6, 6 {}
@mixin hidari-grid-unit 6, 6, 5 {}
@mixin hidari-grid-unit 6, 6, 4 {}
@mixin hidari-grid-unit 6, 6, 3 {}
@mixin hidari-grid-unit 6, 6, 2 {}
@mixin migi-grid-unit 6, 6, 6 {}
@mixin migi-grid-unit 6, 6, 5 {}
@mixin migi-grid-unit 6, 6, 4 {}
@mixin migi-grid-unit 6, 6, 3 {}
@mixin migi-grid-unit 6, 6, 2 {}

/* 7:5 */
@mixin grid-variation 7, 5 {}
@mixin hidari-grid-unit 7, 5, 7 {}
@mixin hidari-grid-unit 7, 5, 6 {}
@mixin hidari-grid-unit 7, 5, 5 {}
@mixin hidari-grid-unit 7, 5, 4 {}
@mixin hidari-grid-unit 7, 5, 3 {}
@mixin hidari-grid-unit 7, 5, 2 {}
@mixin migi-grid-unit 7, 5, 5 {}
@mixin migi-grid-unit 7, 5, 4 {}
@mixin migi-grid-unit 7, 5, 3 {}
@mixin migi-grid-unit 7, 5, 2 {}

/* 8:4 */
@mixin grid-variation 8, 4 {}
@mixin hidari-grid-unit 8, 4, 8 {}
@mixin hidari-grid-unit 8, 4, 7 {}
@mixin hidari-grid-unit 8, 4, 6 {}
@mixin hidari-grid-unit 8, 4, 5 {}
@mixin hidari-grid-unit 8, 4, 4 {}
@mixin hidari-grid-unit 8, 4, 3 {}
@mixin hidari-grid-unit 8, 4, 2 {}
@mixin migi-grid-unit 8, 4, 4 {}
@mixin migi-grid-unit 8, 4, 3 {}
@mixin migi-grid-unit 8, 4, 2 {}

/* 9:3 */
@mixin grid-variation 9, 3 {}
@mixin hidari-grid-unit 9, 3, 9 {}
@mixin hidari-grid-unit 9, 3, 8 {}
@mixin hidari-grid-unit 9, 3, 7 {}
@mixin hidari-grid-unit 9, 3, 6 {}
@mixin hidari-grid-unit 9, 3, 5 {}
@mixin hidari-grid-unit 9, 3, 4 {}
@mixin hidari-grid-unit 9, 3, 3 {}
@mixin hidari-grid-unit 9, 3, 2 {}
@mixin migi-grid-unit 9, 3, 3 {}
@mixin migi-grid-unit 9, 3, 2 {}

/* 10:2 */
@mixin grid-variation 10, 2 {}
@mixin hidari-grid-unit 10, 2, 10 {}
@mixin hidari-grid-unit 10, 2, 9 {}
@mixin hidari-grid-unit 10, 2, 8 {}
@mixin hidari-grid-unit 10, 2, 7 {}
@mixin hidari-grid-unit 10, 2, 6 {}
@mixin hidari-grid-unit 10, 2, 5 {}
@mixin hidari-grid-unit 10, 2, 4 {}
@mixin hidari-grid-unit 10, 2, 3 {}
@mixin hidari-grid-unit 10, 2, 2 {}
@mixin migi-grid-unit 10, 2, 2 {}
