:root {

  --color-red:          #ee2947;
  --color-orange:       #fbb315;
  --color-yellow:       #ffd914;
  --color-turquoise:    #35dbb7;
  --color-azure:        #2984e9;
  --color-blue:         #254beb;

  --color-hidari-bg:    color(black lightness(20%));
  --color-hidari:       white;
  --color-migi-bg:      color(black lightness(97%));
  --color-migi:         color(black lightness(20%));

  --color-highlight:    var(--color-yellow);

  --font-ui:      'Nimbus Novus Sans Medium', monospace;
  --font-text:    'Stempel Garamond LT', monospace;
  --font-h:       'Nimbus Novus Sans Condensed Semi Bold', monospace;

  --grid-units:         13;
  --grid-width:         94%;
  --grid-max-width:     1120px;
  --grid-gutter:        32px;
  --grid-unit-width:    calc(100% / var(--grid-units));

  --transition-duration-default:    .3s;
}
