/** @define Main */

.main {
  width: var(--main__w--xs);
}

.main__section {
}

.main__hidari {
  background-color: var(--hidari__bg-color);
  color: var(--hidari__color);
  padding-bottom: var(--margin__v-l);
}

.main__migi {
  background-color: var(--migi__bg-color);
  color: var(--migi__color);
  padding-bottom: var(--margin__v-l);
}

@media (--viewport-s) {
  .main {
    width: var(--main__w--s);
  }
}

@media (--viewport-m) {
  .main {
    width: var(--main__w--m);
  }

  .main__section {
    display: flex;
    flex-direction: row;
  }

  .main__section--shift-up .main__migi {
    margin-top: calc(-1 * var(--brand__height));
  }

  .main__hidari {
    width: var(--main__w--xs);
  }

  .main__migi {
    width: calc(var(--main__w--m) - var(--main__w--xs));
  }
}

@media (--viewport-l) {
  .main {
    width: var(--main__w--l);
  }

  .main__migi {
    width: calc(var(--main__w--l) - var(--main__w--xs));
  }
}
