/** @define Main */

.main {
  background-color: rgba(100,0,140,.2);
  width: var(--main__w--xs);
}

@media (--viewport-s) {
  .main {
    width: var(--main__w--s);
  }
}

@media (--viewport-m) {
  .main {
    width: var(--main__w--m);
  }
}

@media (--viewport-l) {
  .main {
    width: var(--main__w--l);
  }
}
