//
// Layout
//
// A responsive two-column layout that extends the Bootstrap grid system.
// Hidari (left) and migi (right) are the two main containers for content.
// --------------------------------------------------


// Hidari/migi containers
// -------------------------

body > .container > .row > .hidari,
body > .container > .row > .migi {
  padding-top: (2 * @line-height-computed);
  padding-bottom: (2 * @line-height-computed);
  .transition(~'width 200ms ease-in-out');
}
body > .container > .row > .hidari {
  background-color: @layout-hidari-bg;
  border-right: 1px solid @layout-hidari-border;
  color: @layout-hidari-color;
  padding-left: @layout-hidari-gutter-left;
  padding-right: @layout-hidari-gutter-right;
}
body > .container > .row > .migi {
  background-color: @layout-migi-bg;
  border-left: 1px solid @layout-migi-border;
  color: @layout-migi-color;
  padding-left: @layout-migi-gutter-left;
  padding-right: @layout-migi-gutter-right;
}

@media (min-width: @grid-float-breakpoint) {

  // Table layout full-height container
  html, body { height: 100%; }
  body > .container {
    display: table;
    min-height: 100%;
    height: auto;
    // Remove Bootstrap default padding
    padding-left: 0px;
    padding-right: 0px;
  }
  body > .container > .row {
    display: table-row;
    height: 100%;
  }
  body > .container > .row > .hidari,
  body > .container > .row > .migi {
    display: table-cell;
    vertical-align: top;
    float: none;
  }

  // Extend hidari/migi bg colors to fill viewport
  body {
    background-image: linear-gradient(
      to right,
      @layout-hidari-bg 0%,
      @layout-hidari-bg 50%,
      @layout-migi-bg 50%,
      @layout-migi-bg 100%
    );
  }
}


// Stretching components
// -------------------------

.stretch-left {
  position: relative;
}
.stretch-left:before {
  content: '';
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  left: -999px;
}

.stretch-right {
  position: relative;
}
.stretch-right:before {
  content: '';
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  right: -999px;
}
