//
// Layout
//
// A responsive two-column layout that extends the Bootstrap grid system.
// Hidari (left) and migi (right) are the two main containers for content.
// --------------------------------------------------


// Hidari/migi containers
// -------------------------

.hidari,
.migi {
  padding-top: (2 * @line-height-computed);
  padding-bottom: (2 * @line-height-computed);
  .transition(~'width 200ms ease-in-out');
}
.hidari {
  background-color: @layout-hidari-bg;
  color: @layout-hidari-color;
  padding-left: @layout-hidari-gutter-left;
  padding-right: @layout-hidari-gutter-right;
}
.migi {
  background-color: @layout-migi-bg;
  color: @layout-migi-color;
  padding-left: @layout-migi-gutter-left;
  padding-right: @layout-migi-gutter-right;
}

@media (min-width: @grid-float-breakpoint) {

  // Hidari/migi containers should never be shorter than viewport
  .hidari, .migi { min-height: 1140px; }

  // Borders when displayed side-by-side
  .hidari { border-right: @padding-small-horizontal solid @layout-hidari-border; }
  .migi { border-left: @padding-small-horizontal solid @layout-migi-border; }
  // Extend hidari/migi bg colors to fill viewport
  body {
    background-image: linear-gradient(
      to right,
      @layout-hidari-bg 0%,
      @layout-hidari-bg 50%,
      @layout-migi-bg 50%,
      @layout-migi-bg 100%
    );
  }
}


// Stretching components
// -------------------------

.stretch-left {
  position: relative;
}
.stretch-left:before {
  content: '';
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  left: -999px;
}

.stretch-right {
  position: relative;
}
.stretch-right:before {
  content: '';
  background-color: inherit;
  position: absolute;
  height: 100%;
  width: 999px;
  right: -999px;
}



/* Brand
// -------------------------------------------------- */

.brand-container {
  background-color: @brand-bg;
  max-width: 288px; // half actual graphic width
}
