//
// Theme
// --------------------------------------------------

@import "variables";              // Core variables
@import "mixins";                 // Mixins


// Scaffolding
// -------------------------

// Links
a { .link-invisible(); }

// Headlines
h1, h2, h3, h4, h5, h6,
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @font-family-headings;

  a { .link-invisible(); }
}

.h-section {
  .hidari & { border-bottom-color: @hidari-muted; }
  .migi & { border-bottom-color: @migi-muted; }
}
.h-section-strong {
  background-color: @primary-color;
  color: @gray-darker;
}


// Horizontal rules
hr {
  .hidari & { border-color: @hidari-muted; }
  .migi & { border-color: @migi-muted; }
}



// Layout
// -------------------------

// Hidari/migi containers
.hidari {
  background-color: @hidari-bg;
  color: @hidari-color;
}
.migi {
  background-color: @migi-bg;
  color: @migi-color;
}
@media (min-width: @screen-sm-min) {
  .hidari { border-right-color: @centerline-border-color; }
  .migi { border-left-color: @centerline-border-color; }
}


// H-feed
// -------------------------

.h-feed > .p-name {
  .hidari & { border-bottom-color: @hidari-muted; }
  .migi & { border-bottom-color: @hidari-muted; }
}

.h-entry-thumbnail .h-entry-body .p-name,
.h-entry-thumbnail .h-entry-body .label-default, {
  .hidari & { background-color: @gray-darker; }
  .migi & { background-color: @gray-lighter; }
}


// H-entry
// -------------------------

.h-entry {
  .hidari & { border-bottom-color: @hidari-muted; }
  .migi & { border-bottom-color: @migi-muted; }
}

.h-entry .p-author { background-color: @gray-lighter; }

.h-entry .e-meta a { .link-underline(); }
.h-entry .e-content a { .link-default(); }

.h-entry a figure { background-color: @primary-color; }


// Buttons
// --------------------------------------------------

.btn-default {
  .button-variant();
}
.btn-primary {
  .button-variant(@primary-color);
}
// Danger and error appear as red
.btn-danger {
  .button-variant(@danger-color);
}


// Labels
// --------------------------------------------------

.label-default {
  .hidari & { .label-variant(@label-hidari-bg); }
  .migi & { .label-variant(@label-migi-bg); }
}

.label-primary {
  .label-variant(@primary-color);
}

.label-info {
  .label-variant(@info-color);
}
