//
// Variables
// --------------------------------------------------


//== Colors
//
//## Layout colors

@gray-base:                 #3a3b3b;
@gray-darker:               darken(@gray-base, 10%);
@gray-dark:                 @gray-base;
@gray:                      lighten(@gray-base, 38%);
@gray-light:                lighten(@gray-base, 62%);
@gray-lighter:              lighten(@gray-base, 74%);

@red:                 #ee2947;
@orange:              #fbb315;
@yellow:              #ffd914;
@turquoise:           #35dbb7;
@azure:               #2984e9;
@blue:                #254beb;

@primary-color:       @yellow;
@success-color:       @turquoise;
@info-color:          @blue;
@danger-color:        @red;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Hidari (left) container
@hidari-bg:             @gray-darker;
@hidari-color:          @gray-light;
@hidari-strong:         @gray-lighter;
@hidari-muted:          @gray-dark;
//** Migi (right) container
@migi-bg:               @gray-lighter;
@migi-color:            @gray-dark;
@migi-strong:           @gray-darker;
@migi-muted:            @gray-light;
//** Centerline border
@centerline-border:     @gray-light;
//** Brand (logo)
@brand-bg:              @gray-dark;
//** Links
@link-color:            @azure;
@link-hover-color:      @link-color;
@link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-ui:            'Nimbus Sans Novus Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-headings:      'Nimbus Novus Sans Condensed Semi Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-paragraph:     'Stempel Garamond LT', Georgia, "Times New Roman", Times, serif;

//** Modular typographic scale (8:15 major seventh)
//** http://modularscale.com/scale/?px1=19&px2=14&ra1=1.875&ra2=0
@font-scale-factor:         1.875;
@font-size-small:           14px;
@font-size-base:            19px;
@font-size-large:           floor((@font-scale-factor * @font-size-small));
@font-size-xlarge:          floor((@font-scale-factor * @font-size-base));
@font-size-xxlarge:         floor((pow(@font-scale-factor, 2) * @font-size-small));
@font-size-xxxlarge:        floor((pow(@font-scale-factor, 2) * @font-size-base));

//** Unit-less `line-height` for use in components like buttons.
@line-height-small:         unit((20 / @font-size-small));
@line-height-base:          unit((30 / @font-size-base));
@line-height-large:         unit((30 / @font-size-large));
@line-height-xlarge:        unit((40 / @font-size-xlarge));
@line-height-xxlarge:       unit((45 / @font-size-xxlarge));
@line-height-xxxlarge:      unit((60 / @font-size-xxxlarge));
//** Computed "line-height" for use with `margin`, `padding`, etc.
@line-height-sm-computed:   unit(floor((@line-height-small * @font-size-small)), px);
@line-height-computed:      unit(floor((@line-height-base * @font-size-base)), px);
@line-height-lg-computed:   unit(floor((@line-height-large * @font-size-large)), px);
@line-height-xl-computed:   unit(floor((@line-height-xlarge * @font-size-xlarge)), px);
@line-height-xxl-computed:  unit(floor((@line-height-xxlarge * @font-size-xxlarge)), px);

//** Fixed sizes for heading
@font-size-h0:              @font-size-xxxlarge;
@font-size-h1:              @font-size-xxlarge;
@font-size-h2:              @font-size-xlarge;
@font-size-h3:              @font-size-large;
@font-size-h4:              @font-size-base;
@font-size-h5:              @font-size-base;
@font-size-h6:              @font-size-base;
@line-height-h0:            @line-height-xxxlarge;
@line-height-h1:            @line-height-xxlarge;
@line-height-h2:            @line-height-xlarge;
@line-height-h3:            @line-height-large;
@line-height-h4:            @line-height-base;
@line-height-h5:            @line-height-base;
@line-height-h6:            @line-height-base;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on @grid-gutter-width (horizontal) and @line-height-computed (vertical)

@padding-base-vertical:     10px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    20px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  8px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     4px;

@border-radius-base:        2px;
@border-radius-large:       4px;
@border-radius-small:       0;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-font-weight:            normal;

@btn-default-bg:             @gray-light;
@btn-active-bg:              @gray-dark;
@btn-active-color:           @gray-lighter;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

@screen-xs-min:              480px;   // Extra small screen / phone
@screen-sm-min:              768px;   // Small screen / tablet
@screen-md-min:              992px;   // Medium screen / desktop
@screen-lg-min:              1200px;  // Large screen / wide desktop
@screen-xl-min:              1570px;  // X-large screen / HD desktop

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-lg-max:              (@screen-xl-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
//** 18 can be evenly divided by 2, 3, 6 and 9
@grid-columns:                18;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:           28px;
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:       @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max:   (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

@container-sm: (720px + @grid-gutter-width);  // Small screen / tablet
@container-md: (940px + @grid-gutter-width);  // Medium screen / desktop
@container-lg: (1140px + @grid-gutter-width); // Large screen / wide desktop
@container-xl: (1340px + @grid-gutter-width); // Extra large screen / HD screen


//== Labels
//
//##

//** Hidari label background color
@label-hidari-bg:     @gray-dark;
//** Migi label background color
@label-migi-bg:       @gray-light;
