//
// Variables
// --------------------------------------------------


//== Colors
//
//## Layout colors

//** Hidari (left) container
@layout-hidari-bg:          @gray-darker;
@layout-hidari-border:      @gray-base;
@layout-hidari-color:       @gray-lighter;
//** Migi (right) container
@layout-migi-bg:            @body-bg;
@layout-migi-border:        transparent;
@layout-migi-color:         @text-color;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              18;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         40px;
