/*
 * Grid debug styles
 */

@import "config/media-queries";
@import "config/root";

.grid {
  border: 1px solid rgba(100,0,100,.1) !important;
}

.grid__unit {
  min-height: 64px !important;
  border: 1px solid rgba(100,100,0,.1) !important;
}

body {
  border-top: 3px solid teal;
}

@media (--viewport-s-min) {
  body {
    border-color: salmon;
  }
}

@media (--viewport-m-min) {
  body {
    border-color: orange;
  }
}

@media (--viewport-l-min) {
  body {
    border-color: lime;
  }
}
