
/*
 * URW Nimbus Novus Sans
 */

@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/n023014tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/n023014tWeb.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/n023014tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/n023014tWeb.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/n023014tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/n023014tWeb.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/n023014tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/n023014tWeb.woff") format("woff");
}


/*
 * URW Nimbus Novus Sans Condensed
 */

@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/n023055tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/n023055tWeb.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/n023055tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/n023055tWeb.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/n023055tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/n023055tWeb.woff") format("woff");
}

@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/n023055tWeb.eot");
}
@font-face {
  font-family: 'Nimbus Novus Sans Condensed';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/n023055tWeb.woff") format("woff");
}


/*
 * URW Garamond
 */

@font-face {
  font-family: 'URW Garamond';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/g003013tWeb.eot");
}
@font-face {
  font-family: 'URW Garamond';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/g003013tWeb.woff") format("woff");
}

@font-face {
  font-family: 'URW Garamond';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/g003033tWeb.eot");
}
@font-face {
  font-family: 'URW Garamond';
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/g003033tWeb.woff") format("woff");
}

@font-face {
  font-family: 'URW Garamond';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/g003015tWeb.eot");
}
@font-face {
  font-family: 'URW Garamond';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/g003015tWeb.woff") format("woff");
}

@font-face {
  font-family: 'URW Garamond';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/g003035tWeb.eot");
}
@font-face {
  font-family: 'URW Garamond';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/g003035tWeb.woff") format("woff");
}
