/*
 * Grid system
 */

/* Grid container */
.grid {
  display: block;
  padding-left: calc(var(--grid__gutter) * .5);
  padding-right: calc(var(--grid__gutter) * .5);
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}

/* Grid unit basics */
.grid__unit {
  position: relative;
  min-height: 1px;
  padding-left: calc(var(--grid__gutter) * .5);
  padding-right: calc(var(--grid__gutter) * .5);
}

@media (--viewport-s) {
  .grid__unit {
    float: left;
    width: 100%;
  }
}

/* Small-screen grid units */
@media (--viewport-s) {
  .grid__unit--s-4 { width: 100%; }
  .grid__unit--s-3 { width: 75%; }
  .grid__unit--s-2 { width: 50%; }
  .grid__unit--s-1 { width: 25%; }

  .grid__unit--s-pull-4 { right: 100%; }
  .grid__unit--s-pull-3 { right: 75%; }
  .grid__unit--s-pull-2 { right: 50%; }
  .grid__unit--s-pull-1 { right: 25%; }
  .grid__unit--s-pull-0 { right: auto; }

  .grid__unit--s-push-4 { left: 100%; }
  .grid__unit--s-push-3 { left: 75%; }
  .grid__unit--s-push-2 { left: 50%; }
  .grid__unit--s-push-1 { left: 25%; }
  .grid__unit--s-push-0 { left: auto; }

  .grid__unit--s-offset-4 { margin-left: 100%; }
  .grid__unit--s-offset-3 { margin-left: 75%; }
  .grid__unit--s-offset-2 { margin-left: 50%; }
  .grid__unit--s-offset-1 { margin-left: 25%; }
  .grid__unit--s-offset-0 { margin-left: 0%; }
}

/* Medium-screen grid units */
@media (--viewport-m) {
  .grid__unit--m-4 { width: 100%; }
  .grid__unit--m-3 { width: 75%; }
  .grid__unit--m-2 { width: 50%; }
  .grid__unit--m-1 { width: 25%; }

  .grid__unit--m-pull-4 { right: 100%; }
  .grid__unit--m-pull-3 { right: 75%; }
  .grid__unit--m-pull-2 { right: 50%; }
  .grid__unit--m-pull-1 { right: 25%; }
  .grid__unit--m-pull-0 { right: auto; }

  .grid__unit--m-push-4 { left: 100%; }
  .grid__unit--m-push-3 { left: 75%; }
  .grid__unit--m-push-2 { left: 50%; }
  .grid__unit--m-push-1 { left: 25%; }
  .grid__unit--m-push-0 { left: auto; }

  .grid__unit--m-offset-4 { margin-left: 100%; }
  .grid__unit--m-offset-3 { margin-left: 75%; }
  .grid__unit--m-offset-2 { margin-left: 50%; }
  .grid__unit--m-offset-1 { margin-left: 25%; }
  .grid__unit--m-offset-0 { margin-left: 0%; }
}

/* Large-screen grid units */
@media (--viewport-l) {
  .grid__unit--l-6 { width: 100%; }
  .grid__unit--l-5 { width: 83.33333333%; }
  .grid__unit--l-4 { width: 66.66666667%; }
  .grid__unit--l-3 { width: 50%; }
  .grid__unit--l-2 { width: 33.33333333%; }
  .grid__unit--l-1 { width: 16.66666667%; }

  .grid__unit--l-pull-6 { right: 100%; }
  .grid__unit--l-pull-5 { right: 83.33333333%; }
  .grid__unit--l-pull-4 { right: 66.66666667%; }
  .grid__unit--l-pull-3 { right: 50%; }
  .grid__unit--l-pull-2 { right: 33.33333333%; }
  .grid__unit--l-pull-1 { right: 16.66666667%; }
  .grid__unit--l-pull-0 { right: auto; }

  .grid__unit--l-push-6 { left: 100%; }
  .grid__unit--l-push-5 { left: 83.33333333%; }
  .grid__unit--l-push-4 { left: 66.66666667%; }
  .grid__unit--l-push-3 { left: 50%; }
  .grid__unit--l-push-2 { left: 33.33333333%; }
  .grid__unit--l-push-1 { left: 16.66666667%; }
  .grid__unit--l-push-0 { left: auto; }

  .grid__unit--l-offset-6 { margin-left: 100%; }
  .grid__unit--l-offset-5 { margin-left: 83.33333333%; }
  .grid__unit--l-offset-4 { margin-left: 66.66666667%; }
  .grid__unit--l-offset-3 { margin-left: 50%; }
  .grid__unit--l-offset-2 { margin-left: 33.33333333%; }
  .grid__unit--l-offset-1 { margin-left: 16.66666667%; }
  .grid__unit--l-offset-0 { margin-left: 0%; }
}
