:root {

  --color-gray-0:   #232629;
  --color-gray-1:   #383B3F;
  --color-gray-2:   #5D6166;
  --color-gray-3:   #82878C;
  --color-gray-4:   #AAADB3;
  --color-gray-5:   #D2D5D9;
  --color-gray-6:   #F5F6F7;
  --color-gray-6:   #FCFCFC;

  --color-red:        #EE2947;
  --color-orange:     #FBB315;
  --color-yellow:     #FFD914;
  --color-turquoise:  #35DBB7;
  --color-azure:      #2984E9;
  --color-blue:       #4848E8;

  --color-hidari-bg:  var(--color-gray-1);
  --color-hidari:     var(--color-gray-6);
  --color-migi-bg:    var(--color-gray-6);
  --color-migi:       var(--color-gray-1);

  --color-highlight:    var(--color-yellow);
  --color-hover:        var(--color-azure);

  --font-ui:  'Nimbus Novus Sans Medium', monospace;
  --font-p:   'Stempel Garamond LT', monospace;
  --font-h:   'Nimbus Novus Sans Condensed Semi Bold', monospace;

  --font-size--s:     14px;
  --font-size--p:     19px;
  --font-size--l:     26px;
  --font-size--xl:    36px;
  --font-size--2xl:   49px;
  --font-size--3xl:   68px;
  --font-size--4xl:   92px;

  --line-height--s:     1.5;          /* 21px */
  --line-height--p:     1.4736842105; /* 28px; */
  --line-height--l:     1.3461538462; /* 35px */
  --line-height--xl:    1.1666666667; /* 42px */
  --line-height--2xl:   1.1428571429; /* 56px */
  --line-height--3xl:   1.0294117647; /* 70px */
  --line-height--4xl:   1.0652173913; /* 98px */

  --grid-units:       13;
  --grid-width:       90%;
  --grid-max-width:   1380px;
  --grid-gutter:      32px;
  --grid-bleed:       64px;
  --grid-unit-width:  calc(100% / var(--grid-units));

  --transition-duration:        .45s;
  --transition-duration--fast:  .25s;
  --transition-duration--slow:  .8s;

  --border-radius:      2px;
  --border-radius--s:   calc(var(--border-radius) / 2);
  --border-radius--l:   calc(var(--border-radius) * 2);

  --padding-vertical:       calc(var(--font-size--p) * var(--line-height--p) / 2);
  --padding-vertical--xs:   calc(var(--padding-vertical--s) / 2);
  --padding-vertical--s:    calc(var(--padding-vertical) / 2);
  --padding-vertical--l:    calc(var(--padding-vertical) * 2);
  --padding-vertical--xl:   calc(var(--padding-vertical--l) * 2);

  --padding-horizontal:       calc(var(--grid-gutter) / 4);
  --padding-horizontal--xs:   calc(var(--padding-horizontal--s) / 2);
  --padding-horizontal--s:    calc(var(--padding-horizontal) / 2);
  --padding-horizontal--l:    calc(var(--padding-horizontal) * 2);
  --padding-horizontal--xl:   calc(var(--padding-horizontal--l) * 2);
}
