/*
 * TYPE
 * Utility classes for typesetting
 */

.type {}


/* Headline styles */

.type__h1, .type__h2, .type__h3, .type__h4, .type__h5, .type__h6,
.type__typearea h1, .type__typearea h2, .type__typearea h3, .type__typearea h4, .type__typearea h5, .type__typearea h6 {
  font-family: var(--font__sans);
}

.type__h0 {
  font-weight: bold;
  font-size: var(--type__size-5xl);
  letter-spacing: var(--type__ls-5xl);
  line-height: var(--type__lh-5xl);
  margin-top: var(--margin__v-3xl);
  margin-bottom: var(--margin__v-xl);
}

.type__h1 {
  font-weight: bold;
  font-size: var(--type__size-4xl);
  letter-spacing: var(--type__ls-4xl);
  line-height: var(--type__lh-4xl);
  margin-top: var(--margin__v-2xl);
  margin-bottom: var(--margin__v-l);
}

.type__h2,
.type__typearea h1 {
  font-weight: bold;
  font-size: var(--type__size-3xl);
  letter-spacing: var(--type__ls-3xl);
  line-height: var(--type__lh-3xl);
  margin-top: var(--margin__v-xl);
  margin-bottom: var(--margin__v-m);
}

.type__h3,
.type__typearea h2 {
  font-weight: bold;
  font-size: var(--type__size-2xl);
  letter-spacing: var(--type__ls-2xl);
  line-height: var(--type__lh-2xl);
  margin-top: var(--margin__v-l);
  margin-bottom: var(--margin__v-s);
}

.type__h4,
.type__typearea h3 {
  font-weight: bold;
  font-size: var(--type__size-xl);
  letter-spacing: var(--type__ls-xl);
  line-height: var(--type__lh-xl);
  margin-top: var(--margin__v-m);
  margin-bottom: var(--margin__v-s);
}

.type__h5,
.type__typearea h4 {
  font-weight: bold;
  font-size: var(--type__size-l);
  letter-spacing: var(--type__ls-l);
  line-height: var(--type__lh-l);
  margin-top: var(--margin__v-m);
  margin-bottom: var(--margin__v-s);
}

.type__h6,
.type__typearea h5 {
  font-weight: bold;
  font-size: var(--type__size-m);
  letter-spacing: var(--type__ls-m);
  line-height: var(--type__lh-m);
  margin-top: var(--margin__v-s);
  margin-bottom: var(--margin__v-xs);
}



/* Text block
 * A container for html text from e.g. a content management system
 * Contained headlines are defined above
 */

.type__typearea {
  font-family: var(--font__serif);
  font-size: var(--type__size-m);
  letter-spacing: var(--type__ls-m);
  line-height: var(--type__lh-m);
}

.type__typearea p,
.type__typearea ul,
.type__typearea ol {
  margin-top: var(--margin__v-s);
  margin-bottom: var(--margin__v-m);
}

.type__typearea li {
  margin-bottom: var(--margin__v-xs);
}

.type__typearea a {
  @mixin magic-underline {};
}

.type__typearea a:hover {
  color: var(--color__contrast);
  @mixin magic-underline var(--color__contrast) {}
}

/* Lead text
 * Use with type__typearea
 * e.g. "type__typearea > type__typearea--lead" or "type__typearea.type__typearea--lead"
 */
.type__typearea--lead {
  font-weight: bold;
  letter-spacing: -.25px;
}

/* Lists */
.type__typearea li {
  display: list-item;
}



/* Smallprint */

.type__smallprint {
  font-size: var(--type__size-s);
  letter-spacing: var(--type__ls-s);
  line-height: var(--type__lh-s);
}
