/*
 * Type classes
 */



/* Type Area */

.typearea {
  font-family: var(--font__serif);
  font-size: var(--typearea__size);
  line-height: var(--typearea__lh);
}

/* Paragraphs */

.typearea p {
  margin-bottom: var(--typearea__mb);
}


/* Headline styles */

.type-h0, .type-h1, .type-h2, .type-h3, .type-h4, .type-h5, .type-h6,
.typearea h1, .typearea h2, .typearea h3, .typearea h4, .typearea h5, .typearea h6 {
  font-family: var(--font__sans);
  display: block;
}

.type-h0 {
  font-weight: bold;
  font-size: var(--type__size-5xl);
  letter-spacing: var(--type__ls-5xl);
  line-height: var(--type__lh-5xl);
  margin-top: var(--margin__v-3xl);
  margin-bottom: var(--margin__v-xl);
}

.type-h1,
.typearea h1 {
  font-weight: bold;
  font-size: var(--type__size-4xl);
  letter-spacing: var(--type__ls-4xl);
  line-height: var(--type__lh-4xl);
  margin-top: var(--margin__v-2xl);
  margin-bottom: var(--margin__v-l);
}

.type-h2,
.typearea h2 {
  font-weight: bold;
  font-size: var(--type__size-3xl);
  letter-spacing: var(--type__ls-3xl);
  line-height: var(--type__lh-3xl);
  margin-top: var(--margin__v-xl);
  margin-bottom: var(--margin__v-m);
}

.type-h3,
.typearea h3 {
  font-weight: bold;
  font-size: var(--type__size-2xl);
  letter-spacing: var(--type__ls-2xl);
  line-height: var(--type__lh-2xl);
  margin-top: var(--margin__v-l);
  margin-bottom: var(--margin__v-s);
}

.type-h4,
.typearea h4 {
  font-weight: bold;
  font-size: var(--type__size-xl);
  letter-spacing: var(--type__ls-xl);
  line-height: var(--type__lh-xl);
  margin-top: var(--margin__v-m);
  margin-bottom: var(--margin__v-s);
}

.type-h5,
.typearea h5 {
  font-weight: bold;
  font-size: var(--type__size-l);
  letter-spacing: var(--type__ls-l);
  line-height: var(--type__lh-l);
  margin-top: var(--margin__v-m);
  margin-bottom: var(--margin__v-s);
}

.type-h6,
.typearea h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--type__size-m);
  letter-spacing: var(--type__ls-m);
  line-height: var(--type__lh-m);
  margin-top: var(--margin__v-s);
  margin-bottom: var(--margin__v-xs);
}
