/*
 * Grid debug styles
 */

[class*='grid__unit'] {
  min-height: 32px;
}

.debug--showgrid .grid__hidari [class*='grid__unit'] {
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.debug--showgrid .grid__migi [class*='grid__unit'] {
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.32);
}

.debug--showgrid .grid__unit--2 {
  background-color: #BDF71B;
  background-color: rgba(189, 247, 27, 0.16);
}

.debug--showgrid .grid__unit--3 {
  background-color: #F8E71C;
  background-color: rgba(248, 231, 28, 0.16);
}

.debug--showgrid .grid__unit--4 {
  background-color: #F7561B;
  background-color: rgba(247, 86, 27, 0.16);
}

.debug--showgrid .grid__unit--5 {
  background-color: #F71B4F;
  background-color: rgba(247, 27, 79, 0.16);
}

.debug--showgrid .grid__unit--6 {
  background-color: #E91BF7;
  background-color: rgba(233, 27, 247, 0.16);
}

.debug--showgrid .grid__unit--7 {
  background-color: #561BF7;
  background-color: rgba(86, 27, 247, 0.16);
}

.debug--showgrid .grid__unit--8 {
  background-color: #1B73F7;
  background-color: rgba(27, 115, 247, 0.16);
}

.debug--showgrid .grid__unit--9 {
  background-color: #1BF7E9;
  background-color: rgba(27, 247, 233, 0.16);
}

.debug--showgrid .grid__unit--10 {
  background-color: #1BF756;
  background-color: rgba(27, 247, 86, 0.16);
}
