//
// Microformat2 h-feed
//
// Used for top level feed objects that contain h-entry posts.
// http://microformats.org/wiki/h-feed
// --------------------------------------------------

.h-feed {}

// Property: name (title)
.h-feed > .p-name {
  border-bottom: 3px solid @hr-border;

  font-size: @font-size-small;
  font-family: @font-family-sans-serif;
  line-height: (1.5 * @line-height-small);
  text-transform: uppercase;
  letter-spacing: 1px;

  &.p-name-strong {
    background-color: @brand-primary;
    color: @brand-primary-text;
    border-bottom: none;
  }
}

// Property: author
// .p-author {}

// URL: url
// .u-url {}

// URL: photo
// .u-photo {}


// embedded h-entry
// -------------------------

.h-feed .h-entry {
  border-bottom: 1px solid @hr-border;
  margin-bottom: @line-height-computed;
}
