@define-mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@define-mixin magic-underline $color: black, $a: 30% {
  background-image: linear-gradient(to top,
    color($color a(0%)) 7%,
    color($color a($a)) 7%,
    color($color a($a)) 12%,
    color($color a(0%)) 12%
  );
}
