//
// Microformat2 h-entry
//
// Used for episodic or datestamped content.
// http://microformats.org/wiki/h-entry
// --------------------------------------------------

.h-entry {
  .hidari & { border-bottom: 1px solid; }
  .migi & { border-bottom: 1px solid; }
}

// Property: name (title)
.h-entry .p-name {}

// Property: summary
.h-entry .p-summary {
  font-size: @font-size-large;
  line-height: @line-height-large;
  margin-bottom: @line-height-sm-computed;
}

// Property: meta
.h-entry .p-meta {
  font-family: @font-family-ui;
  font-size: @font-size-small;
  line-height: @line-height-small;
  margin-bottom: @line-height-sm-computed;

  a { text-decoration: underline; }
}

// Element tree: content
.h-entry .e-content {
  margin-top: @line-height-sm-computed;

  a { color: @link-color; }
}

// Datetime: published
.h-entry .dt-published {}

// Datetime: updated
.h-entry .dt-updated {}

// Property: author
.h-entry .p-author {}

// Property: category
.h-entry .p-category {}

// URL: featured (image)
.h-entry .u-featured {
  margin-bottom: @line-height-computed;
}


// Adjustments for h-feed
// -------------------------

// Property: name (title)
.h-feed .h-entry .p-name {
  margin-top: 0;
  margin-bottom: @padding-base-vertical;
}

// Property: summary
.h-feed .h-entry .p-summary {
  font-size: @font-size-base;
  line-height: @line-height-base;
}
