//
// Microformat2 h-entry
//
// Used for episodic or datestamped content.
// http://microformats.org/wiki/h-entry
// --------------------------------------------------

.h-entry {
  .hidari & { border-bottom: 2px solid; }
  .migi & { border-bottom: 2px solid; }
}

// Content wrapper
// .h-entry-body {}

// Property: name (title)
// .h-entry .p-name {}

// Property: summary
.h-entry .p-summary {
  font-size: @font-size-large;
  line-height: @line-height-large;
  margin-bottom: @line-height-sm-computed;
}

// Element tree: meta
.h-entry .e-meta {
  font-family: @font-family-ui;
  font-size: @font-size-small;
  line-height: @line-height-small;
  margin-bottom: @line-height-sm-computed;
}

// Element tree: content
// .h-entry .e-content {}

// Datetime: published
.h-entry .dt-published {
  white-space: nowrap;
}

// Datetime: updated
.h-entry .dt-updated {
  white-space: nowrap;
}

// Property: author
.h-entry .p-author {
  font-family: @font-family-ui;
  font-size: @font-size-small;
  line-height: @line-height-small;
  margin-bottom: @line-height-sm-computed;

  a {
    .link-underline();
  }

  img {
    border-bottom: @padding-small-vertical solid;
    margin-bottom: @padding-base-vertical;
  }
}

// Property: category
// .h-entry .p-category {}

// URL: featured (image)
.h-entry .u-featured {
  display: inline-block;
  margin-bottom: @line-height-computed;
}


// Single h-entry (single-article pages)
// -------------------------

.h-entry-single {
  margin-bottom: (2 * @line-height-computed);
}


// Linked h-entry
// -------------------------

.h-entry {

  // Fade linked images on interaction
  // a figure img { .transition(~'opacity 90ms linear'); }
  a:hover,
  a.focus, a:focus,
  a.active, a:active {
    figure img { opacity: .8; }
  }
}


// Thumbnail version
// -------------------------

.h-entry-thumbnail {
  position: relative;
}

.h-entry-thumbnail .h-entry-body {
  padding: @padding-base-vertical @padding-base-horizontal;
  position: absolute;
  bottom: @padding-base-vertical;
  left: 0;

  .p-name {
    padding: @padding-small-vertical @padding-small-horizontal;
  }
}
