//
// Microformat2 h-feed
//
// Used for top level feed objects that contain h-entry posts.
// http://microformats.org/wiki/h-feed
// --------------------------------------------------

// .h-feed {}

// Property: name (name of the feed)
.h-feed > .p-name {
  border-bottom: 2px solid;

  &, h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-ui;
    font-size: @font-size-small;
    line-height: (@line-height-small * 2);
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  &.strong {
    border-bottom: none;
    padding: 0 @padding-base-horizontal;

    &.stretch-left { padding-left: 0; }
    &.stretch-right { padding-right: 0; }
  }
}

// Property: author (author of the feed, optionally embed an h-card)
// .p-author {}

// URL: url (URL of the feed)
// .u-url {}

// URL: photo (representative photo / icon for the feed)
// .u-photo {}

// Enclosed h-entry
.h-feed .h-entry {
  border-bottom: 1px solid;

  // Tweak headings
  h1 { &:extend(.h2); }
  .h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .dateline {
    margin-top: 0;
    margin-bottom: @padding-base-vertical;
  }
}
